<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">New Recipe</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">      
      <app-recipe-item 
        *ngFor="let recipeEL of recipes" 
        [recipe]="recipeEL"
        (recipeSelected)='onRecipeSelected(recipeEL)'></app-recipe-item>  
    </div>
  </div>
  
  
  
  